.footer{
    background-color: #e2e2e2;
    overflow: hidden;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
    .section-title{
        color: #444;
        font-weight: normal;
        text-transform: uppercase;
    }
    .gallary , .info , .contact{
        float: $float-left;
    }
    .gallary{
        @media #{$minsmall}{
            width: 100%;
        }
        @media #{$minmedium}{
            width: 50%;
        }
        .image-box{
            overflow: hidden;
            margin-bottom:20px ;
            img{
                @media #{$minsmall} {
                    float: $float-left;
                }
                width: 150px;
                height: 150px;
                border: 4px solid white;
            }
            .text{
                @media #{$minsmall} {
                    float: $float-left;
                    margin-right: 15px;
                    margin-left: 15px;
                    width: calc(100% - 180px);
                }
                
                h4{
                    color: $red-color;
                    margin: 10px 0 5px;
                }
                p{
                    color:#888;
                    line-height: 1.2;
                    margin-top: 10px;
                }
            }
        }
    }
    .info{
        @media #{$minsmall}{
            width: 50%;
        }
        @media #{$minmedium}{
            width: 25%;
        }
        @media #{$maxmobile}{
            width: 100%;
        }
        ul{
            color: #888;
            line-height: 2;
            li{
                span{
                    color:$red-color;
                    font-weight: bold;
                }
            }
        }
        h4{
            color: #888;
            font-weight: bold;
            margin-bottom: 0;

        }
        p{
            color: #888;
            margin-top: 8px;
        }
    }
    .contact{
        @media #{$minsmall}{
            width: 50%;
        }
        @media #{$minmedium}{
            width: 25%;
        }
        input[type="text"] , input[type="email"] , textarea{
            border: 1px solid #c9c9c9;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 10px;
            width: 100%;
            @include prefixer(transition , $main-transtion , webkit moz);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            &:focus{
                outline-color: #f1bdbe;
            }
            &:focus::placeholder{
                opacity: 0.3;
            }
}
textarea{
    height: 140px;
    resize: none;
}
    }
    .copyeight{
        overflow: hidden;
        padding: 25px 0;
        color: #888;
        margin-top: 30px;
        border-top: 1px solid #c5c5c5;
        .copytext{
            @media #{$minsmall}{
                float: $float-left;
                width: 50%;
            }
            @media #{$maxmobile}{
                width:100%;
                text-align: center;
                margin-bottom: 20px;
            }
            span{
                color: $red-color;
            }
        }
        .author{
            float: $float-left;
            width: 50%;
            text-align: $text-right;
            @media #{$maxmobile}{
                width:100%;
                text-align: center;
                margin-bottom: 20px;
            }
            q{
                color: $red-color;
            }
            .pos{
                color: $red-color;
                font-weight: bold;
                position: relative;
                right: 100%;
                border: 2px solid white;
                border-radius: 50%;
                padding: 15px;
                box-shadow: 10px 20px 20px $grey-color;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                @media #{$maxmobile}{
                    display: none;
                }
}
        }
    }
}