$maxmobile : "(max-width: 767px)" ;
$maxsmall : "(max-width: 991px)" ;
$minsmall :"(min-width: 768px)";
$minmedium :"(min-width: 992px)";
$minlarge :"(min-width: 1000px)";

$red-color:#e2494c;
$grey-color: #9c9c9c;

$main-transtion:0.4s;

$float-left:left;
$float-right:right;

$text-right: right;
$text-left: left;